body{
    /* display:flex; */
    background-color:#D69D36;
    height:100vh;
    display: flex;
    flex-direction: column;
 
}
.header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0px 40px;
   
}

#leftHeader{
display: flex;
flex-direction: column;

}

.cityName{
    display:flex;
    flex-direction: row;
    font-size: larger;
    font-weight: bolder;
    
}
.locationIcon{
    /* border:2px solid green; */
   padding-left: 6px; 
    margin-top: 18px;
    margin-bottom: 18px;
   
}
.cityNameText{
    /* New York */

width: 110px;
height: 29px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 24px;
line-height: 29px;
/* identical to box height */

color: #FFFFFF;

transform: rotate(0.4deg);

/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.arrowIcon{
   
    position:absolute;
    left:115px;
    /* border:2px solid blue; */
}
/* .weather{
    border:2px solid black;
    font-size:x-large;
    font-weight:700;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color:white;
    display:flex;
    margin:auto;
    padding:4px 60px;
} */
.weather{
    /* Cloudy */
width: 196px;
height: 47px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 34px;
line-height: 58px;
display: flex;
align-items: center;
margin-bottom: 100px;
margin-top: 60px;

color: #FFFFFF;


}
.temp{
    /* 26°C */
width: 202px;
height: 63px;

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 69px;
line-height: 77px;
margin-bottom: 20px;

color: #FFFFFF;


}
.date{
    /* Sunday | 12 Dec 2023 */

width: 205px;
height: 28px;

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 18px;
line-height: 22px;
margin-bottom: 20px;

color: #FFFFFF;


}

#cloudIconId{
    margin-top: 50px;

}
.endSection{
    display:flex;
    flex-direction: row;
   justify-content: space-between;
   /* background-color: chartreuse; */
   margin:0px 18px;
 
    
  
}
#leftBottomDiv{

    border:2px solid yellow;
    border-radius:23px;
    color:white;
}  
#midBottomDiv{
    background-color:#DEAB4D;
    border-radius: 40px;
    height:300px;
    padding: 0px 40px;
    
    

}


#img{
    width:60px;
    height:60px;
    border-radius:180px;
}
.pictures{
    display:flex;
    flex-direction:row;
    margin:auto;

    
}
.activities{
    display:flex;
    flex-direction:row;
    justify-content: start;
    font-size:x-large;
    color:white;

}
#icon{
    margin-top:23px;
    margin-right:2px;

}
.midImage{
    width:200px;
    height: 150px;
    object-fit: cover;
    border-radius:23px;

   
}
#rightBottomDiv{

    background-color:#DEAB4D;
    border-radius: 40px;
    padding:0px 120px 0px 20px;
    color:white;
}
#data{
    display:flex;
    justify-content: center;
    align-items:center;
    font-size: x-large;
    margin-top:23px;
}
.degree{
    
    display:flex;
    padding:0px 23px;
}
.imageEnvelope{
    display:flex;
    flex-direction: column;

    margin:9px;
    
   

}